:root {
  --teal-color: #0595b5;
  --light-blue-color: #3AB0F0;
  --light-pink-color: #c26bf0;
  --purple-color: #190F6C;
  --light-purple-color: #4823C7;
}

body {
  color: white;
  background: linear-gradient(var(--teal-color), var(--light-blue-color));
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  color: var(--purple-color);
}

p {
  margin-bottom: 0;
}

.carousel-day {
  border-radius: 0;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  display: flex;
}

.carousel-item {
  transition: none;
}

.visible-lg {
  display: none;
}

.saved-city {
  background: var(--purple-color);
  color: white;
}

.saved-city:hover {
  background: var(--light-pink-color);
  color: white;
}

#search-button {
  background: var(--light-purple-color);
  color: white;
}

#search-button:hover {
  background: var(--light-pink-color);
}

#search-button.disabled, .saved-city.disabled {
  background: gray;
}

.card {
  background: var(--teal-color);
  color: white;
  box-shadow: 0px 0px 20px 5px var(--purple-color);
}

#search-input, #current-weather {
  width: 75%;
}

#city-name-date, #five-day {
  color: var(--purple-color);
}

#five-day {
  padding-bottom: 1.5rem;
}

#temperature {
  font-size: 50px;
  line-height: 1;
}

#weather-icon {
  width: 120px;
}

.forecast-icon {
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1024px) {
  #search-input, #current-weather {
    width: 30%;
  }
}

@media (max-width: 991px) {
  .visible-lg {
    display: flex;
  }

  .hidden-lg {
    display: none;
  }

  #five-day {
    padding-bottom: 5px;
  }
}

@media (max-width: 1024px) and (min-width: 710px) {
  #search-input, #current-weather {
    width: 40%;
  }
}

@media (max-width: 709px) and (min-width: 550px) {
  #search-input, #current-weather {
    width: 55%;
  }
}

@media (max-width: 550px) and (min-width: 426px) {
  #search-input, #current-weather {
    width: 70%;
  }
}

@media (max-width: 425px) {
  #search-input, #current-weather {
    width: 93%;
  }
}